{/*.App {
  text-align: center;
}

.formContainer {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  color: black;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid coral;
}

button {
  background-color: coral;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}*/}